@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Noticia Text", serif;
    /* font-family: "News Cycle", sans-serif; */
    background-color: rgb(240, 235, 235);
}